.review-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #0f0f0f;
    border: 1px solid #ccc;
    border-radius: 5px;
  
    h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }
  
    .form-label {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      font-weight: bold;
    }
  
    .form-input {
      width: 70%;
      padding: 10px;
      margin-right: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  
    .form-button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
    }
  
    .submitted-review {
      margin-top: 20px;
      p {
        font-size: 18px;
      }
    }
  }
  