.product-card {
    /* border: 1px solid #ccc; */
    /* padding: 16px; */
    text-align: center;
    /* background-color: #ff0000; */
    /* background: rgb(54, 54, 54); */
    border-radius: 6px;
    color: black;

    /* margin:60px; */
    height: 400px;
    /* width: 300px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    /* background-color: white; */
}

.product-img{
    width: 100%;
    
    object-fit: contain;
}